#myTable2 {
  margin-left: 10px;
  max-width: 850px;
}
button {
  margin: 1px;
}
.forestgreen {
  background-color: forestgreen;
}
table>thead>tr.info>th {
  font-size: large;
}
table>tbody>tr>td {
  font-size: medium;
}
/*
table ranking
*/
table>tbody>tr:nth-child(1),
table>tbody>tr:nth-child(2),
table>tbody>tr:nth-child(3),
table>tbody>tr:nth-child(4),
table>tbody>tr:nth-child(5) {
  background-color: mintcream;
  font-weight: bold;
}
table>tbody>tr:nth-child(6),
table>tbody>tr:nth-child(7),
table>tbody>tr:nth-child(8),
table>tbody>tr:nth-child(9),
table>tbody>tr:nth-child(10) {
  background-color: #FAFFFC;
}
